body {
    background-image: url(Images/background.jpg);
    background-size:cover;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
    padding:10px;
}

.site-title {
    font-family:'Comic Sans MS';
    font-size: 55px;
    text-align: center;
    color:black;
    background-color: rgba(255, 255, 255, 0.8);
}

/*#header {

	padding: 10px 0;
	display: block;
	overflow: hidden;
	position: relative;
    width: 960px;
	margin: 0 auto;
    /*background-color: #ffffff;
}*/

.logo {
	float: left;
}

#content {
    padding: 10px;
    background-color: #ffffff;
	margin: 0 auto;
}

#clear {
    /*background-color: #00ff90;*/
    height: 10px;
}

#slider {
    /*height: 1000px;*/
}

#footer {
    font-family:'Comic Sans MS';
    padding: 10px;
    background-color: #ffffff;
	margin: 0 auto;
}

.bx-wrapper ul li { height: 300px; }